.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1em solid blueviolet ;
}
.countryList{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.borderList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  flex-direction: row;
}
