.country-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60em;
  flex-direction: column;
  border: 0.2em solid blue;

  padding: 1em;
}
.borderList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width:auto;

  flex-direction: row;
  gap: 20px;
}
